<div class="navbar" role="navigation">
  <ul class="navbar__menu">
    <li class="navbar__logo navbar__divider">
      <a href="" class="navbar__link">
        <%= image_tag "zetkin-logo@2x.png", alt: "Zetkin" %>
      </a>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Lär dig Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
        <li><a href="#" class="dropdown__link">Manual</a></li>
        <li><a href="#" class="dropdown__link">Manual</a></li>
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Bidra till Zetkin</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="navbar__link">Om Zetkin Foundation</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">Manual</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar__menu">
    <li class="dropdown">
      <a href="#" class="navbar__link navbar__link--muted">Språk: Svenska</a>
      <ul class="dropdown__menu">
        <li><a href="#" class="dropdown__link">✓ Svenska</a></li>
        <li><a href="#" class="dropdown__link">English</a></li>
        <li><a href="#" class="dropdown__link">Deutsch</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="button navbar__button u-pointer">Logga in</a>
    </li>
  </ul>
</div>
<div class="main" role="main">
  <div class="hero" style="background-image: url('/assets/images/hero-bg.jpg');">
    <div class="container">
      <h1 class="hero__title"><span class="u-text-mark">Delta i kampen för rättvisa</span></h1>
      <p class="hero__subtitle">Zetkin är ett system för att organisera aktivism.</p>
      <div class="hero__product">
        <img src="" alt="">
      </div>
      <a href="#" class="button button--primary button--large hero__cta u-pointer-negative">Logga in på Zetkin</a>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <p class="u-text-center u-text-lede u-dotted-bottom u-dotted-top u-margin-top-large">Zetkin är en webbaserad plattform för att underlätta engagemang i vänsterradikala organisationer. Det används av organisationer och av enskilda aktivister som deltar i organisationernas arbete.</p>
      <div class="grid grid--3-columns u-margin-top-huge">
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-book.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Lär dig Zetkin</h3>
          <p class="blurb__text">Om du vill lära dig hur man använder Zetkin är vår uttömmande manual en bra plats att börja.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Manual för aktivister</a>
            <a href="#" class="u-pointer">Manual för organisatörer</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-share.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Bidra till Zetkin</h3>
          <p class="blurb__text">Zetkin är ett verktyg för rörelsen, av rörelsen. Det är genom att vi slår våra gemensamma resurser ihop som Zetkin blir möjligt.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Bidra med tid</a>
            <a href="#" class="u-pointer">Bidra med pengar</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-info.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Om Zetkin Foundation</h3>
          <p class="blurb__text">Zetkin Foundation ägs och styrs demokratiskt av medlemmarna i Vänsterpartiet Malmö. Det innebär att Zetkin Foundation är ett väldigt annorlunda företag.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Våra tjänster</a>
            <a href="#" class="u-pointer">Historien bakom Zetkin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--band" style="background-image: url('/assets/images/section-bg.jpg');">
    <div class="container">
      <div class="testimonial">
        <%= image_tag "testimonial-headshot.jpg", alt: "", class: "testimonial__headshot" %>
        <div>
          <blockquote class="testmonial__quote u-margin-bottom-baseline">
            <span class="u-text-mark">Det fanns människor som var redo att gå ut på gatorna för Vänsterpartiet.</span>
            <cite class="testimonial__cite"><strong>Daniel Sestrajcic</strong>, Vänsterpartiet Malmö, om den historiska valrörelsen 2014 då partiföreningen organiserade 400 aktivister med Zetkin.</cite>
          </blockquote>
          <a href="#" class="u-pointer-negative">Läs hela fallstudien</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--bordered">
    <div class="container">
      <h2 class="u-text-center u-dotted-bottom">Organisera med Zetkin</h2>
      <p class="u-text-center u-text-lede">Zetkin hjälper dig att utföra alla de uppgifter som är typiska i en aktivistisk organisation.</p>
      <div class="grid grid--bordered u-margin-top-huge">
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-calendar.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Planera smartare</h3>
          <p class="blurb__text">Med Zetkin planerar ni ert utåtriktade kampanjarbete smartare. Håll koll på spridningen i staden och över tid, så att ni möter rätt människor vid rätt tillfälle.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Organize</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-feed.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Ring effektivt</h3>
          <p class="blurb__text">Som organisatörer vet vi att inget redskap är lika träffsäkert som telefonen när det gäller att aktivera människor. Zetkin hjälper dig organisera rundringningar.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Caller</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-calendar.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Planera smartare</h3>
          <p class="blurb__text">Med Zetkin planerar ni ert utåtriktade kampanjarbete smartare. Håll koll på spridningen i staden och över tid, så att ni möter rätt människor vid rätt tillfälle.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Organize</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-feed.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Ring effektivt</h3>
          <p class="blurb__text">Som organisatörer vet vi att inget redskap är lika träffsäkert som telefonen när det gäller att aktivera människor. Zetkin hjälper dig organisera rundringningar.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Caller</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-calendar.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Planera smartare</h3>
          <p class="blurb__text">Med Zetkin planerar ni ert utåtriktade kampanjarbete smartare. Håll koll på spridningen i staden och över tid, så att ni möter rätt människor vid rätt tillfälle.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Organize</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-feed.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Ring effektivt</h3>
          <p class="blurb__text">Som organisatörer vet vi att inget redskap är lika träffsäkert som telefonen när det gäller att aktivera människor. Zetkin hjälper dig organisera rundringningar.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Caller</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-calendar.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Planera smartare</h3>
          <p class="blurb__text">Med Zetkin planerar ni ert utåtriktade kampanjarbete smartare. Håll koll på spridningen i staden och över tid, så att ni möter rätt människor vid rätt tillfälle.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Organize</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-feed.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Ring effektivt</h3>
          <p class="blurb__text">Som organisatörer vet vi att inget redskap är lika träffsäkert som telefonen när det gäller att aktivera människor. Zetkin hjälper dig organisera rundringningar.</p>
          <div class="blurb__actions">
            <a href="#" class="u-pointer">Hur du använder Caller</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="u-text-center u-dotted-bottom">Bidra till Zetkin</h2>
      <p class="u-text-center u-text-lede">Zetkin utvecklas till stor del av ideella krafter. Som volontär kan man programmera, formge, skriva dokumentation, göra användarstudier, eller bidra på en mängd andra sätt. Vi tar även emot donationer till utvecklingsfonden.</p>
      <div class="grid u-margin-top-huge">
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-time.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Bidra med tid</h3>
          <p class="blurb__text">Zetkin handlar om att organisera aktivism. Vi lever som vi lär, och en stor del av utvecklingen av Zetkin sker ideellt av aktivister som vill bidra med sina tekniska kunskaper och sin tid.</p>
          <div class="blurb__actions">
            <a href="#" class="button u-pointer">Hjälp till att utveckla Zetkin</a>
          </div>
        </div>
        <div class="blurb">
          <div class="symbol">
            <%= image_tag "icons/svg/symbol-money.svg", alt: "" %>
          </div>
          <h3 class="blurb__title">Bidra med pengar</h3>
          <p class="blurb__text">Oavsett om det handlar om ett stort eller litet belopp, återkommande eller vid ett enstaka tillfälle, är din gåva viktig för Zetkins utveckling.</p>
          <div class="blurb__actions">
            <a href="#" class="button u-pointer">Donera till utvecklingsfonden</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer__logo">
      <%= image_tag "zetkin-logo@2x.png", alt: "Zetkin" %>
    </div>
    <div class="footer__body">
      <ul class="list list--inline" role="navigation">
        <li><a href="#">Lär dig Zetkin</a></li>
        <li class="list__divider"><a href="#">Bidra till Zetkin</a></li>
        <li class="list__divider"><a href="#">Om Zetkin Foundation</a></li>
        <li class="list__divider"><a href="#">Logga in</a></li>
      </ul>
      <ul class="list list--inline u-margin-top-xsmall">
        <li>Språk:</li>
        <li><a href="#"><strong>✓ Svenska</strong></a></li>
        <li class="list__divider"><a href="#">English</a></li>
        <li class="list__divider"><a href="#">Deutsch</a></li>
      </ul>
      <ul class="list list--inline u-margin-top-xsmall">
        <li>Support:</li>
        <li><a href="#">info@zetkin.org</a></li>
        <li class="list__divider"><a href="#">Zetkin Foundation på Facebook</a></li>
      </ul>
    </div>
  </div>
</div>
